footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 40px;
    color: white;
    text-align: center;
}

p {
    margin-bottom: 0;
}