.mobilize__peticoes--agroEFogo {
    background-image: url(../../img/agrofogo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 124px;
    border-radius: 34px;
    align-self: flex-start;
    margin-bottom: 60px;
}