.mobilize__peticoes--terrasIndigenas {
    background-image: url(../../img/terrasIndigenas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 486px;
    height: 80px;
    border-radius: 13px;
}